.sliderContainer {
  display: flex;
  align-items: center;
  padding: 2%;
}
.sliderContainer button {
  color: #789971;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 3.5rem;
}
.slider {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 550px;
  align-items: center;
}
.slider h2 {
  font-size: 2rem;
  font-family: "pacifico", Arial, Helvetica, sans-serif;
  letter-spacing: 2px;
}
.rating {
  font-size: 1.8rem;
  padding-top: 5%;
}
.rating span{
  margin: 0 5px;
}

.slider p {
  font-size: 1.5rem;
  line-height: 1.5;
  text-align: center;
  max-width: 500px;
}
.slider img {
  width: 225px;
}
.img {
  /* display: flex;
  align-items: center;
  justify-content: center; */
  margin: auto;
  width: 200px;
  height: 200px;
  border-radius: 100%;
  border: #789971 solid 1px;
  overflow: hidden;
}

.sliderContainer {
  display: flex;
  flex-direction: row;
  margin: auto;
  gap: 0 5px;
}

.slide {
  opacity: 0;
  transition-duration: 1s ease;
}

.slide.active {
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1.08);
}

@media screen and (max-width: 980px) {
  
  .slider img{
    width: 150px;
    height: 150px;
  }
  .img{
    width: 150px;
    height: 150px;
  }
  .slider h2 {
    text-align: center;
  }
  .slider p {
    text-align: justify;
    padding: 0 5%;
  }

}
