.sliderContainer {
  display: flex;
  align-items: center;
  padding: 2% 0 5%;
  gap: 5px 0;
}
.sliderContainer button {
  color: #789971;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 3.5rem;
}
.slider {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 550px;
  align-items: center;
}
.slider h2 {
  font-size: 2rem;
  font-family: "pacifico", Arial, Helvetica, sans-serif;
  letter-spacing: 2px;
}
.rating {
  font-size: 1.8rem;
  padding: 15% 0;
}

.slider p {
  font-size: 1.5rem;
  line-height: 0.5;
}
.slider img {
  width: 225px;
}
.img {
  /* display: flex;
  align-items: center;
  justify-content: center; */
  margin: auto;
  width: 200px;
  height: 200px;
  border-radius: 100%;
  border: #789971 solid 5px;
  overflow: hidden;
}

.sliderContainer {
  display: flex;
  flex-direction: row;
  margin: auto;
  gap: 0 5px;
}

.slide {
  opacity: 0;
  transition-duration: 1s ease;
}

.slide.active {
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1.08);
}

