.card {
  border: 2px solid#8a6560;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 475px;
  align-items: center;
  justify-content: flex-start;
  color: inherit;
  padding: 5% 5px 0;
}

.cardIcon {
  width: 65px;
}

.cardTitle {
  font-size: 1.5rem;
  padding: 5px;
}

.cardContent {
  padding: 0 5% 0;
  text-align: justify;
  font-size: 1rem;
  line-height: 1.5;
  letter-spacing: 1px;

}

