/* Colors:

#fad9d9
#FFADAD
#FFD6A5
#FDFFB6
#CAFFBF
#9BF6FF
#A0C4FF
#BDB2FF
#FFC6FF
#FFFFFC */

body {
  font-family: "Lato", sans-serif;
  margin: 0;
  padding: 0;
}


.card-column {
  display: flex;
  text-align: center;
  margin: 5% auto;
  flex-flow: row wrap;
  gap: 50px;
  align-items: center;
  justify-content: center;
}
.contact-div {
  display: flex;
  flex-flow: row;
  margin: 3% auto;

  justify-content: center;
  align-items: flex-start;
}

.pinkGradient {
  background-image: linear-gradient(to bottom right, #ffd6a5, #ffadad);
  color: #8a6560;
}
.purpleGradient {
  background-image: linear-gradient(to bottom left, #bdb2ff, #fad9d9);
}
.greenGradient {
  background-image: linear-gradient(to bottom right, #caffbf, #a0c4ff);
  color: #6b54de;
}
.yellowGradient {
  background-image: linear-gradient(to bottom right, #fdffb6, #caffbf);
  color: #789971;
}

.container {
  display: flex;
  flex-direction: row;
}
