.body {
  background: none;
  display: flex;
  flex-flow: column wrap;
  min-height: 725px;
  justify-content: space-evenly;
  align-items: center;
  overflow: hidden;
  width: auto;
  padding: 2% 0 0;
}
